<div class="author">
    <h1 class="author__heading">Hi, I am Mackdu.</h1>
    <p class="author__body"> Backend developer.</p>
</div>
<div class="image-block"><img src="/images/mackdu.jpg" alt="a cat sleeping" class="cat-image"></div>

<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>
    <ul class="article-ul">

        <% data.forEach(post => { %>
        <li>
            <a href="/post/<%= post._id %>">
                <span><%= post.title %></span>
                <span class="article-list__date"><%= post.createdAT.toDateString()%></span>
            </a>
        </li>
        <% }) %>
    </ul>
    <% if (nextPage !== null) { %>
        <a href="/?page=<%= nextPage %>" class="pagination">&lt; View older posts</a>
    <% } %>
    
</section>